/*font import*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', Arial;
  font-weight: normal;
  color: #A39D9D;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo, .h1-wrap {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}

span {
  display: block;
  font-size: 2rem;
}

header {
  text-align: left;
  font-style: italic;
}

nav {
  margin: 0 auto;
}

.navigation {
  margin: 0 auto;
  border-bottom: solid 1px #2CBCD6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container > ul > li > a {
  color: #2CBCD6;
  font-weight: bold;
  padding: 1.5em 3.5em;
  font-stretch: expanded;
  transition: 0.2s ease;
}

.container > ul > li {
  display: inline-block;
  vertical-align: middle;
}

.navigation-second {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #2CBCD6;
}

h3 {
  color: #AFDEFA;
  font-size: 1.5rem;
}

.list {
  display: inline-block;
  padding: 20px 40px;
  margin: 0 auto;
  text-align: center;
}

.list ul {
  padding: 0 0;
}

.list a {
  color: white;
  font-weight: normal;
  padding: 0.5em 2em;
}

.container > ul > li > a:hover {
  background-color: #2CBCD6;
  color: white;
}
